Repository thierrymichel/cz-ccgls: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

.lintstagedrc:

{
  "src/**/*.mjs": ["prettier --write", "yarn lint"],
  "*.{json,md}": ["prettier --write"]
}

chore: 🔊 add error logging
  src/gitmojis.mjs
Due: prettier --write, yarn lint

fix: 🩹 do not close mentionned issue
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.4.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a87f22306e9a4a8298377bb973c9a2eb07a64372
Due: none

fix: :heavy_minus_sign: replace cli-truncate
  .yarn/cache/cli-truncate-npm-3.1.0-654d2989ef-c3243e4197.zip
  .yarn/cache/is-fullwidth-code-point-npm-4.0.0-848488b60d-8ae89bf505.zip
  .yarn/cache/slice-ansi-npm-5.0.0-8cd4f226df-7e600a2a55.zip
  package.json
  src/index.mjs
  yarn.lock
Due: prettier --write, yarn lint

chore(release): 0.4.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  993702eb2a2d39b62d6431967409d1bf60bd7cb6
Due: none

fix: :heavy_minus_sign: replace path-exists
  package.json
  src/gitmojis.mjs
  yarn.lock
Due: prettier --write, yarn lint

Notes added by 'git notes add'
  dad74ae5edded85025b6950aa5f40a8cfbaf9e20
Due: none

chore(release): 0.4.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: ✨ add folderScopes support
  README.md
  src/index.mjs
Due: prettier --write, yarn lint

feat: ✨ add branchScope support
  src/index.mjs
Due: prettier --write, yarn lint

feat: ✨ add Gitlab issues support
  src/gitlab.mjs
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0bbbb170e7ad2fcb76b0c91c01bf0591d465a8d2
Due: none

fix: 🩹 increase per page issues
  src/gitlab.mjs
Due: prettier --write, yarn lint

chore(release): 0.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7551912231f2f622a80fd9afd4550cfc6a7f9523
Due: none

fix: 🩹 add subject if no emoji
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  86b21f37ae4e7a57029ea820539c984c77d1d8fd
Due: none

fix: ⏪️ test
  src/index.mjs
Due: prettier --write, yarn lint

fix: ⏪ test
  src/index.mjs
Due: prettier --write, yarn lint

fix: � fix emoji with invisible "white space"
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.5.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc64e2d8a554b6df6eea35ae07f5ee81ef0dea3a
Due: none

fix: � fix variation selector
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.5.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2732351b8a30fc9d6f915e5e30447808970db860
Due: none

feat: ✨ support gitlab pagination
  src/gitlab.mjs
Due: prettier --write, yarn lint

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8005f0d652676f69b7cee659e5d6f1f216adb23c
Due: none

fix: 🐛 fix wrong function call
  src/gitlab.mjs
Due: prettier --write, yarn lint

Notes added by 'git notes add'
  7b78d7f6335334a25b294e00df54891c86cdaf51
Due: none

chore(release): 0.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: 🩹 no sprint/… branch scope
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d9324945246401f3fbdf7e5b429f37dbe30e3bbd
Due: none

feat: ✨ get (and pre-select) current folder as scope
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write
