Repository thierrymichel/cz-ccgls: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

feat: :recycle: try native ES modules
  package-scripts.js
  src/gitmojis.mjs
  src/index.mjs
Due: prettier --write, yarn lint

docs: :memo: update documentation(s)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTES.md
  README.md
  screenshots.gif
Due: prettier --write

test: :test_tube: start testing…
  __tests__/lerna.json
  __tests__/packages/bar/package.json
  __tests__/packages/foo/package.json
  spec/gitmojisSpec.mjs
  spec/specs.js
  spec/support/jasmine.json
Due: prettier --write

fix: :construction_worker: add missing script
  build/esbuild.cjs.js
Due: none

chore(release): 0.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5fe01beacdc0389febb3ee0b4ea4fe36c7699371
Due: none

fix: :green_heart: remove unused script
  package.json
Due: prettier --write

chore(release): 0.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  aa984ca23254e1f4a5496ad341836f4c37e3f975
Due: none

fix: :see_no_evil: npmignore new files
  .npmignore
Due: none

chore(release): 0.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0fcc97eaedaebb7446ef623d51a502542f25ec12
Due: none

fix: :bug: fix `node:fs` not resolved
  build/esbuild.cjs.js
  src/gitmojis.mjs
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eefc0a8e2082c6ac4507fe0a6434f24ecdcac2bb
Due: none

fix: :hammer: esbuild plugin for nodeJS core modules
  build/esbuild.cjs.js
Due: none

chore(release): 0.3.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f98c2d52ba8f8f3aed83c3663516828ff8c64743
Due: none

chore: :wrench: update .npmignore
  .npmignore
Due: none

fix: :bug: fix missing global lerna package when using scopes
  src/index.mjs
Due: prettier --write, yarn lint

feat: :sparkles: add npm `bin` (for global use)
  package.json
Due: prettier --write

imp: :construction_worker: add action manual trigger
  .github/workflows/release.yml
Due: none

ci: :green_heart: try to fix actions
  .github/workflows/release.yml
Due: none

ci: :adhesive_bandage: pffffff
  .github/workflows/release.yml
Due: none

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  46d6e84b6a753dc0530ab3aa1e171f192f676921
Due: none

fix: :arrow_down: downgrade cli-truncate
  .yarn/cache/cli-truncate-npm-3.1.0-654d2989ef-c3243e4197.zip
  .yarn/cache/is-fullwidth-code-point-npm-4.0.0-848488b60d-8ae89bf505.zip
  .yarn/cache/slice-ansi-npm-5.0.0-8cd4f226df-7e600a2a55.zip
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7be3c3724d73fbb53ab53b979ab72bf8c8595190
Due: none

fix: :rewind: back to Node.js "latest" versions
  .yarn/cache/cli-truncate-npm-3.1.0-654d2989ef-c3243e4197.zip
  .yarn/cache/is-fullwidth-code-point-npm-4.0.0-848488b60d-8ae89bf505.zip
  .yarn/cache/slice-ansi-npm-5.0.0-8cd4f226df-7e600a2a55.zip
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  16fa7a0503a04c2857bec6d733e630b81427f6ae
Due: none

fix: :bug: fix Project is not a constructor
  src/index.mjs
Due: prettier --write, yarn lint

chore(release): 0.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d82bffeeac3ad8043249f79048d3cefbf3656cc3
Due: none

fix: 👽️ update emojis URL
  src/gitmojis.mjs
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: (any of: src/**/*.mjs) or (any of: *.{json,md})
  yarn lint: any of: src/**/*.mjs
